@model JuniorTennis.Mvc.Features.Tournaments.CreateViewModel

@{
    ViewData["Title"] = "大会管理 - 大会一覧";
}

<div class="text-center">
    <h2 class="display-4">大会一覧</h2>
    <table>
        <thead>
            <tr>
                <th>大会名</th>
                <th>大会種別</th>
                <th>開催期間</th>
                <th>申込期間</th>
                <th>会場</th>
                <th>参加費</th>
                <th>参加者一覧</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tournament in Model.Tournaments)
            {
                <tr>
                    <td>@tournament.TournamentName</td>
                    <td>@tournament.TournamentType</td>
                    <td>@tournament.HoldingPeriod</td>
                    <td>@tournament.ApplicationPeriod</td>
                    <td>@tournament.Venue</td>
                    <td>@tournament.EntryFee</td>
                    <td>
                        <button type="button">ダウンロード</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
