@model List<JuniorTennis.Domain.Players.Player>
@{
    Layout = "";
}

@if (Model.Any())
{
    <div>
        <form asp-action="RequestTransfer">
            <table class="table">
                <thead>
                    <tr>
                        <th>氏名</th>
                        <th>フリガナ</th>
                        <th>カテゴリー</th>
                        <th>性別</th>
                        <th>生年月日</th>
                        <th>取消</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model)
                    {
                        <tr>
                            <td>
                                <input type="hidden" name="TransferPlayerIds" value="@player.Id" />
                                @player.PlayerFamilyName.Value @player.PlayerFirstName.Value
                            </td>
                            <td>@player.PlayerFamilyNameKana.Value @player.PlayerFirstNameKana.Value</td>
                            <td>@player.Category.Name</td>
                            <td>@player.Gender.Name</td>
                            <td>@player.BirthDate.DisplayValue</td>
                            <td>
                                <button class="button" onclick="Cancel(this)">取消</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
        <button class="button-primary" type="submit" formmethod="post" formaction="RequestTransfer">申込</button>
    </div>
}
