@model JuniorTennis.Mvc.Features.Players.RequestStateViewModel

@{
    ViewData["Title"] = "選手登録申込状況";
}

    <h2>選手登録申込状況一覧</h2>


    <table class="table">
        <thead>
            <tr>
                <th>予約番号</th>
                <th>氏名</th>
                <th>フリガナ</th>
                <th>カテゴリー</th>
                <th>性別</th>
                <th>生年月日</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var requestPlayer in Model.RequestPlayers)
            {
            <tr>
                <td>@requestPlayer.ReservationNumber.Value</td>
                <td>@requestPlayer.Player.PlayerFamilyName.Value @requestPlayer.Player.PlayerFirstName.Value</td>
                <td>@requestPlayer.Player.PlayerFamilyNameKana.Value @requestPlayer.Player.PlayerFirstNameKana.Value</td>
                <td>@requestPlayer.Player.Category.Name</td>
                <td>@requestPlayer.Player.Gender.Name</td>
                <td>@requestPlayer.Player.BirthDate</td>
            </tr>
            }
        </tbody>
    </table>
